<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${tituloPagina}"></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" th:href="@{/styles/style.css}">
</head>
<body>
<div class="container">
    <div class="logo">
        <img th:src="@{/img/senac-logo.png}" alt="Logo Senac">
    </div>
    <div class="card">
        <h1 th:text="${tituloPagina}"></h1>
        <p th:text="${subTituloPagina}"></p>

        <!-- Mensagem de erro -->
        <div class="erro" th:if="${erro}" th:text="${erro}"></div>

        <form th:action="@{/login}" th:object="${usuarioForm}" method="post">
            <!-- Foto estática do Login (Fica invisível até o JS mandar aparecer) -->
            <div class="login-avatar-wrap" style="display: flex; justify-content: center; margin-bottom: 15px;">
                <img id="avatar-login" src="" alt="Foto do Usuário" style="display: none; width: 110px; height: 110px; border-radius: 20px; object-fit: cover; border: 2px solid #004A8D;">
            </div>

            <label for="email">E-mail</label>
            <input
                    type="email"
                    id="email"
                    th:field="*{email}"
                    placeholder="Digite seu e-mail"
                    required
            >

            <label for="senha">Senha </label>
            <div class="input-container">
                <input
                        type="password"
                        id="senha"
                        th:field="*{senha}"
                        placeholder="Digite sua senha"
                        required
                >
                <i class="fa-solid fa-eye-slash toggle-password" onclick="mostrarOcultarSenha(this)"></i>
            </div>

            <button type="submit">Entrar</button>

        </form>

        <div class="links">
            <a th:href="@{/alterar-senha}">Esqueceu a senha?</a>
            <a th:href="@{/cadastro}">Criar conta</a>
        </div>
    </div>
</div>
<script th:src="@{/scripts/script.js}"></script>
</body>
</html>